<form [formGroup]="form" (submit)="onSubmit()" novalidate>
  <div class="form-group" *ngIf="form.controls.name">
    <label for="name">Name</label>
    <input
      type="name"
      class="form-control"
      id="name"
      formControlName="name"
      [ngClass]="{
        'is-invalid': isSubmitted && form.controls.name.invalid,
        'is-valid': isSubmitted && form.controls.name.valid
      }"
    />
    <div class="invalid-feedback" *ngIf="form.controls.name.errors?.required">
      Required field
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
      [ngClass]="{
        'is-invalid': isSubmitted && form.controls.email.invalid,
        'is-valid': isSubmitted && form.controls.email.valid
      }"
    />
    <div class="invalid-feedback" *ngIf="form.controls.email.errors?.required">
      Required field
    </div>
    <div class="invalid-feedback" *ngIf="form.controls.email.errors?.email">
      Invalid email address
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
      [ngClass]="{
        'is-invalid': isSubmitted && form.controls.password.invalid,
        'is-valid': isSubmitted && form.controls.password.valid
      }"
    />
    <div
      class="invalid-feedback"
      *ngIf="form.controls.password.errors?.required"
    >
      Required field
    </div>
  </div>

  <div class="form-group" *ngIf="form.controls.confirmPassword">
    <label for="confirmPassword">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      id="confirmPassword"
      formControlName="confirmPassword"
      [ngClass]="{
        'is-invalid': isSubmitted && form.controls.confirmPassword.invalid,
        'is-valid': isSubmitted && form.controls.confirmPassword.valid
      }"
    />
    <div
      class="invalid-feedback"
      *ngIf="form.controls.confirmPassword.errors?.required"
    >
      Required field
    </div>
    <div
      class="invalid-feedback"
      *ngIf="form.controls.confirmPassword.errors?.notMatch"
    >
      Passwords doesn't match
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
